*{
  font-family: fantasy ;
}

body{
    background-color: #5535C9;
}
article{
  background-color: #6D35C9;
  text-align: left;
  margin-right: auto;
  margin-left: 300px;
  border-radius:10px;
  padding: 10px;
  width: 800px;
  height: 400px;
  position: relative;
  top: -850px;
  left:50px;
  box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
.articleChico{
  background-color: #5535C9;
  position: relative;
  top: 20px;
  left:-300px;
  width: 580px;
  height: 200px;
}

section{
    margin-top:20px;
    margin-left:5px;
    width: 180px;
    height: 400px;
    padding: 10px;
    background-color: #6D35C9;
    border-radius:10px;
    position: relative;
    top: -430px;
    left:50px;
    box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
.tarjeta{
    background-color:black;
    position:relative;
    top:0px;
    width: 1300px;
    height: 100px;
    text-align: center;
    border-radius:10px;
    padding: 60px;
    box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
input, select, text {
    display:block;
    width: 20%;
    font-size: 100%;
    color: blue;
    position: relative;
    left: 1080px;
}
.formulario{
  background-color: #6D35C9;
  width: 800px;
  text-align: left;
  margin-right: auto;
  margin-left: 300px;
  border-radius:10px;
  padding: 10px;
  height: 400px;
  position: relative;
  top: -850px;
  left: 50px;
  box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
.marco{
  background-color: #B4AAC5;
  width: 600px;
  padding: 10px;
  height: 300px;
  position: relative;
  top: 40px;
  left: 82px;
  box-shadow:2px 2px 1px -1px rgba(0,0,0,0.75);
}
.notificacion{
  background-color: #119AB2;
  width: 200px;
  height: 130px;
  position: relative;
  top: -90px;
  left: 840px;
  border-radius:10px;
  box-shadow:2px 2px 1px -1px rgba(0,0,0,0.75);
}

.nombreUsuario{
  position: relative;
  top:-20px;
  color: black;
  font-size: 105%;
}
.registro{
  color: white;
  text-align:right ;
  position: relative;
  top: -180px;
}
.email{
  position: relative;
  top:-200px;
}
.password{
  position: relative;
  top:-195px;
}

.botoncPerfil{
  position: relative;
  left: 175px;
  top: 0px;
  font-size: 90%;
}
.botoncancelar{
  position: relative;
  left: 220px;
  top: 0px;
  font-size: 90%;
}

.u{
  position: relative;
  top: -200px;

}
.a{
  position: relative;
  top: -280px;
  left:120px;
}
.seleccionarJuego{
  position: relative;
  top: -5px;
  left: 70px;
  width: 200px;
}
.nombreGame{
    color: white;
    top: 0px;
    left:0px;
    font-size:200% ;
  }
  .price{
    color: pink;
    top: 0px;
    left:100px;
    font-size: ;
  }

h1{
  color: white;
  font-size: 300%;
  position: relative;
  left:-150px;

}
h4{
  position: relative;
  top: -36px;
  left: -240px;
}
h5{
  position: relative;
  top: -35px;
  left:-215px;
}
h7{
  position: relative;
  top: 25px;
  left:0px;
}
h8{
  position: relative;
  top: 0px;
  left:0px;
}
h9{
  position: relative;
  top: 50px;
  left: -54px;
}
h10{
  position: relative;
  top: 100px;
  left: -102px;
}
.label1{
  position: relative;
  top: 100px;
  left:200px;
  color:white;
  font-size:200%;
}
h11{
  position: relative;
  top: -700px;
  left: 600px;
  font-size:200% ;
  color:white;
}
h12{
  position: relative;
  top: 0px;
  left:0px;
  font-size:200% ;
  color:white;
}
h13{
  position: relative;
  top: 10px;
  left:10px;
  font-size:110% ;
  color:black;
}
/*14 reservado*/
h15{
position: relative;
font-size:140% ;
top: -120px;
left:10px;
}
h16{
  position: relative;
  font-size:140% ;
  top: -120px;
  left:80px;
}
h17{
  position: relative;
  font-size:140% ;
  top: -120px;
  left:120px;
}
h18{
  position: relative;
  font-size:140% ;
  top: -120px;
  left:160px;
}
h19{
  position: relative;
  font-size:140% ;
  top: -120px;
  left:190px;
}
h20{
  position: relative;
  font-size:140% ;
  top: -75px;
  left:0px;
}
h21{
  position: relative;
  font-size:140% ;
  top: -138px;
  left:430px;
}
h22{
  position: relative;
  font-size:160% ;
  top: 100px;
  left:180px;
}
h23{
  position: relative;
  font-size:110% ;
  top: 20px;
  left:20px;
}
h24{
  position: relative;
  font-size:110% ;
  top: 140px;
  left:20px;
}
h25{
  position: relative;
  font-size:110% ;
  top: -120px;
  left:20px;
}
h26{
  position: relative;
  font-size:110% ;
  top: -60px;
  left:-130px;
}
h27{
  position: relative;
  font-size:110% ;
  top: 0px;
  left:-190px;
}
h28{
  position: relative;
  font-size:120% ;
  top: 10px;
  left:60px;
}
h29{
  position: relative;
  font-size:120% ;
  top: 10px;
  left:160px;
}
h30{
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 180%;
}
h31{
  position: relative;
  top: 280px;
  left: 350px;
  font-size: 180%;

}
.Iniciar{
  position: relative;
  top:-320px;
  left:-55px;
  font-size: 100%;
}
.Registrarse{
  position: relative;
  top:-280px;
  left:-155px;
  font-size: 100%;
}
.Buscar{
  position: relative;
  top:-380px;
  left:450px;
  font-size: 100%;
}
.Ayuda{
  position: relative;
  top:-370px;
  left:945px;
  font-size: 100%;
}
.imagen0{
position: relative;
top: -210px;
left: 10px;
width: 200px;
height: 200px;
border-radius:20px;
box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
.imagen1{
  float: left;
  width: 200px;
  height: 300px;
  margin-left: 10px;
}
.imagen2{
  float: center;
  margin-left: 100px;
  width: 200px;
  height: 300px;
}
.imagen3{
  float: right;
  width: 200px;
  height: 300px;
  margin-right:10px;
}
.imagenTitulo{
  position: relative;
  width: 600px;
  height: 200px;
  top:-220px;
  left: 120px;
}
.carrito{
  position: relative;
  width: 50px;
  height: 50px;
  top:100px;
  left: 500px;
}
.interrogacion{
  position: relative;
  width: 30px;
  height: 30px;
}
a{
  color:white;
  text-decoration:none;
}
a:visited{
color:red;
}
.botonayuda{
position: relative;
top:10px;
left:70px;
}
.conjunto1{
  position: relative;
  top: -115px;
  left:50px;
  font-size:110%;
  color:white;
}
.conjuntocaracteristicas{
  position: relative;
  top: -30px;
  left:200px;
  width:350px;
}
.datospcusuario{
  position: relative;
  top: -180px;
  left:650px;
  width:100px;
  font-size:110%;
}

.consulta{
  position: relative;
  top: -800px;
  left:-600px;
  width: 3000px;
  height: 1000px;
}
.lupa{
  position: relative;
  top: -1830px;
  left:400px;
  width: 70px;
  height: 70px;
}

.inputConError {
    /*border-color:red;
    font:200%*/
    box-shadow: 0px 0px 6px 2px rgb(255, 0, 0);
}
.botonBuscar{
  position: relative;
  top: -1850px;
  left:1030px;
  width: 70px;
  height: 40px;
  font-size:100%;
}
.resultados{
  background-color: #B4AAC5;
  border-radius:10px;
  width: 800px;
  height: 400px;
  position: relative;
  top: -1750px;
  left:400px;
  box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
.ordenarPorPrecio{
  position: relative;
  top: -110px;
  left:210px;
}
.ordenarPorgenero{
  position: relative;
  top: -173px;
  left: 530px;
}
.especificacionesCompletadas{
  background-color: white;
  width: 800px;
  height: 500px;
  position: relative;
  top: -1300px;
  left:360px;
  border-radius:10px;
  box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
.pasarAlBuscador{
  position: relative;
  top: 300px;
  left:-10px;
  font-size: 130%;
}
.pasarAlinicio{
  position: relative;
  top: 300px;
  left:150px;
  font-size: 130%;
}
.sectionPerfil{
  position: relative;
  top: 265px;
  left: 0px;
}
.perfilDeUsuario{
  background-color: #119AB2;
  text-align: left;
  margin-right: auto;
  margin-left: 300px;
  border-radius:10px;
  padding: 10px;
  width: 800px;
  height: 400px;
  position: relative;
  top: -580px;
  left: 0px;
  box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
.notificacionPerfil{
  background-color: #119AB2;
  width: 250px;
  height: 420px;
  position: relative;
  top: -1000px;
  left: 1150px;
  border-radius:10px;
  box-shadow:2px 2px 1px -1px rgba(0,0,0,0.75);
}
.ingresarLascaracteristicasDesdeNotificacion{
  position: relative;
  top: 30px;
  left:80px;
  width: 80px;
  height: 40px;
  font-size:100%;
}
.cambiarLascaracteristicasDesdeNotificacion{
  position: relative;
  top: 150px;
  left:80px;
  width: 80px;
  height: 40px;
  font-size:100%;
}
.fotoPerfil{
  position: relative;
  width: 150px;
  height: 150px;
}
.botonHistorialCompras{
  position: relative;
  top: 120px;
  left:-400px;
  font-size:100%;
}
.botonIngresoPreferencias{
  position: relative;
  top: 200px;
  left:-565px;
  font-size:100%;
}
.carritoPerfil{
  position: relative;
  top: 75px;
  left: -680px;
  width: 50px;
  height: 50px;
  font-size:;
}
.infoDeinteres{
  background-color: #B4AAC5;
  width: 550px;
  height: 200px;
  position: relative;
  top: 30px;
  left: 230px;
  border-radius:10px;
  box-shadow:2px 2px 1px -1px rgba(0,0,0,0.75);
}
.cuadroPreferencias{
  background-color: #119AB2;
  text-align: left;
  margin-right: auto;
  margin-left: 300px;
  border-radius:10px;
  padding: 10px;
  width: 1050px;
  height: 500px;
  position: relative;
  top: -180px;
  left: -120px;
  box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);
}
.botonGuardarPreferencias{
  position: relative;
  top: 330px;
  left: 200px;
  font-size:150%;
}
.botonCancelarPreferencias{
  position: relative;
  top: 385px;
  left: 90px;
  font-size:150%;
}
.etiquetalucha{
  position: relative;
  top: -620px;
  left: 200px;
  width: 175px;
  height: 65px;
}
.etiquetaplataforma{
  position: relative;
  top: -400px;
  left: 25px;
  width: 175px;
  height: 65px;
}
.etiquetasandBox{
  position: relative;
  top: -625px;
  left: 100px;
  width: 175px;
  height: 65px;
}
.etiquetaaccion{
  position: relative;
  top: -625px;
  left: 170px;
  width: 175px;
  height: 65px;
}
.etiquetamulti{
  position: relative;
  top: -617px;
  left: 240px;
  width: 175px;
  height: 65px;
}
.etiquetamultioff{
  position: relative;
  top: -505px;
  left: -190px;
  width: 175px;
  height: 65px;
}
.etiquetaaventura{
  position: relative;
  top: -400px;
  left: -360px;
  width: 175px;
  height: 65px;
}
.etiquetamisterio{
  position: relative;
  top: -300px;
  left: -530px;
  width: 175px;
  height: 65px;
}
.etiquetaciencia{
  position: relative;
  top: -580px;
  left: 200px;
  width: 175px;
  height: 65px;
}
.etiquetaterror{
  position: relative;
  top: -365px;
  left: 25px;
  width: 175px;
  height: 65px;
}
.etiquetadeportes{
  position: relative;
  top: -583px;
  left: 100px;
  width: 175px;
  height: 65px;
}
.etiquetaestrategia{
  position: relative;
  top: -470px;
  left: -75px;
  width: 175px;
  height: 65px;
}
.etiquetarol{
  position: relative;
  top: -365px;
  left: -250px;
  width: 175px;
  height: 65px;
}
.ordenRegistro{
  position: relative;
  top: 0px;
  left: -1070px;
  width: 1200px;
}
.procesoDeRegistro{
  position: relative;
  left: 300px;
  top:15px;
  font-size: 150%;
  color: white;
}
.imagenmaquina{
  position: relative;
  left: 750px;
  top:-1135px;
  font-size: 150%;
  width: 300px;
  height: 200px;
  border-radius:20px;
  box-shadow:10px 10px 5px -3px rgba(0,0,0,0.75);

}
